%h1 Nasze Projekty:

%table
  %tr
    %th
    %th
    %th
    %tr
    - @projects.each do |project|
      %td= link_to cl_image_tag(project.picture_url, :width => 300), project

%br
= link_to 'Dodaj nowy projekt', new_project_path
%br
<!--= link_to 'Zobacz komentarze', comments_path -->

<!-- %td= project.picture -->
<!--  %th Projekt
<!--  %th Opis
<!--  %td= project.name
<!--  %td= project.description -->
<!--  %td= link_to 'Pokaż', project
<!--  %td= link_to 'Edytuj', edit_project_path(project)
<!--  %td= link_to 'Usuń', project, :method => :delete, :data => { :confirm => 'Usunąć projekt?' }
<!--  %td= link_to cl_image_tag(project.picture_url, :width => 400) if project.picture.present? , project-->
