#header {
  width: 900px;
  margin: 40px auto;
  color: #194719;
  h1 {
    font-size: 48px;
    color: #202020;

    span {
      padding-left: 30px;
      font-size: 16px;
    }
  }
}

#wrap2 {
  width: 900px;
  margin: auto;
}

body {
  background: #e5ffe4;
}
